<%- include('../layout/header_admin')%>
<div class="my-3 w-full bg-slate-100 box p-4">
    <table class="table-auto w-full">
        <thead>
            <tr>
                <th>No.</th>
                <th>Id playlist</th>
                <th>Nama playlist</th>
                <th>Nama pengguna</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% let no = 1 %>
            <% data.forEach((item)=> { %>
                <tr>
                    <td class="text-center"><%= no++ %></td>
                    <td class="py-2"><%= item.id_playlist %></td>
                    <td class="py-2"><%= item.nama_playlist %></td>
                    <td class="py-2"><%= item.id_user %></td>
                    <td class="py-2 text-center">
                        <i class="fi fi-ss-info text-slate-400 text-xl cursor-pointer"></i>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include('../layout/footer_admin')%>